<template>
  <div>
    <Tanuki v-if="isX" />
    <Octocat v-if="isO" />
  </div>
</template>

<script>
import { X, O } from "../data/constants";
import Tanuki from "./Tanuki.vue";
import Octocat from "./Octocat.vue";

export default {
  name: "CellContents",
  props: {
    val: String
  },
  components: {
    Tanuki,
    Octocat
  },
  computed: {
    isX() {
      return this.val === X;
    },
    isO() {
      return this.val === O;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
