<template>
  <h3 class="status-message">{{ message }}</h3>
</template>

<script>
import { IN_PROGRESS, TIE } from "../data/constants";

export default {
  name: "StatusMessage",
  props: {
    status: String,
    currentPlayer: Object
  },
  computed: {
    message() {
      switch (this.status) {
        case IN_PROGRESS:
          return this.currentPlayer.name + "'s turn";
        case TIE:
          return "It's a tie!  Game Over";
        default:
          return "Game Over";
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
