<template>
  <div class="gameContainer">
    <h1 class="title">Git-Gat-Go</h1>
    <table class="table">
      <tr v-for="(row, rowNum) in board.getCells()" :key="rowNum">
        <td
          v-for="(cell, cellNum) in row"
          v-bind:class="getClassForCell(cellNum, rowNum)"
          v-on:click="markSquare(cellNum, rowNum)"
          :key="cellNum"
          v-bind:data-cell="cellNum + ' ' + rowNum"
        >
          <CellContents :val="cell" />
        </td>
      </tr>
    </table>

    <StatusMessage :status="status.status" :currentPlayer="currentPlayer" />
  </div>
</template>

<script>
import Board from "../data/Board";
import CellContents from "./CellContents.vue";
import StatusMessage from "./StatusMessage.vue";
export default {
  name: "TicTacToe",
  props: {
    board: Board,
    currentPlayer: Object,
    status: Object,
    markSquare: Function
  },
  methods: {
    isWinningSquare(x, y) {
      return this.status.winningCells.some(([_x, _y]) => _x === x && _y === y);
    },
    getClassForCell(x, y) {
      return "cell" + (this.isWinningSquare(x, y) ? " winningSquare" : "");
    }
  },
  components: {
    CellContents,
    StatusMessage
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.cell {
  background: #eee;
  width: 100px;
  height: 100px;
  text-align: center;
}

.cell.winningSquare {
  background: rgba(200, 247, 197, 0.7);
}

.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
