<template>
  <div id="app">
    <TicTacToe
      :board="game.board"
      :currentPlayer="game.currentPlayer"
      :status="game.status"
      :markSquare="markSquare"
    />
  </div>
</template>

<script>
import TicTacToe from "./components/TicTacToe.vue";
import Game from "./data/Game";
import { IN_PROGRESS } from "./data/constants";

export default {
  name: "app",
  data() {
    let game = new Game();
    return {
      game
    };
  },
  methods: {
    markSquare(x, y) {
      if (this.game.status.status !== IN_PROGRESS) {
        // ignore clicks after somebody has won
        return;
      }
      try {
        let newGame = this.game.move(x, y);
        this.game = newGame;
      } catch (e) {
        // nothing to do here for now
      }
    }
  },
  components: {
    TicTacToe
  }
};
</script>

<style>
#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
</style>
